.mission {
  padding: 0 15px 25px;
  position: relative;
  overflow-x: hidden;
}

.mission::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #5C5C5D;
}

.mission .feature-name, .mission .feature-val {
  display: block;
}

.mission .mission-name {
  font-size: 34px;
}

.mission .feature-name {
  font-size: 14px;
  margin: 20px 0 7px;
}

.mission .feature-val, .mission .rocket-val {
  font-size: 16px;
  font-weight: 500;
}

.mission .rocket-status {
  display: inline-block;
  padding: 4px 4px 0 5px;
  margin-left: 6px;
  color: #000;
  letter-spacing: 0.1em;
  font-size: 12px;
  background: #BE4E35;;
  height: 20px;
  border-radius: 4px;
}

.mission .rocket-status.recovered {
  background: #6FB46E;
}

.mission .link {
  margin: 33px 0 27px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: inherit;
  border: 2px solid #FFF;
  height: 54px;
  width: 100%;
  text-align: center;
  padding-top: 17px;
  font-weight: 500;
  transition: .1s all;
}

.mission .link:hover {
  border-color: royalblue;
  color: royalblue;
}

.mission .tooltip {
  opacity: 0;
  position: absolute;
  top: 115px;
  right: 0;
  background: #fff;
  color: #000;
  height: 19px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 8px;
  z-index: 10;
  transition: all .1s;
}

@media (min-width: 767.98px) {
  
}

@media (min-width: 1200px) {
  .mission::before {
    width: calc(100% - 30px);
    left: 15px;
  }

  .mission .feature-name {
    font-size: 16px;
  }
  
  .mission .feature-val, .mission .rocket-val {
    font-size: 18px;
  }

  .mission .mission-name {
    font-size: 42px;
  }

  .mission .link {
    width: 160px;
  }

  .mission .position-right {
    position: absolute;
    top: 5px;
    right: 15px;
    text-align: right;
    width: 500px;
  }

  .mission .feature-val:hover .tooltip{
    opacity: 1
  }
}